<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SimpleTest suite name">
    <test name = "SimpleTest test name">

        <classes>
<!--            <class name = "org.example.uitests.WaitersTests"/>-->
<!--            <class name = "org.example.uitests.WaitersTests"/>-->
<!--            <class name = "ua.ithillel.testng.SeleniumTest"/>-->
<!--            <class name = "ua.ithillel.testng.GroupTest"/>-->
        </classes>

    </test>
</suite>
